.body {
  box-sizing: border-box;
  width: 1440px;
  height: 2844px;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  width: 1340px;
  height: 109px;
  margin: 92px 49px 92px 51px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: flex;
  gap: 10px;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.header__links-list-item {
  display: list-item;
  list-style: circle;
  list-style-position: inside;
}

.header__links-list-item_no-bullit {
  list-style: none;
  text-decoration: none;
}

.header__link {
  text-decoration: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  padding-bottom: 0, 5px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
  margin-right: 150px;
}

.address {
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.contact-information {
  text-decoration: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  padding-bottom: 0, 5px;
}

.main {
  flex-grow: 1;
}

.cover {
  width: 1440px;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
}

.overlay {
  opacity: 0.6;
  background: #000;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.cover-title {
  color: #fff;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
  padding: 165px 50px 20px 50px;
  height: 655px;
  z-index: 1;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.letter-spacing-extended-normal {
  letter-spacing: 30px;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
  margin-top: 15px;
  margin-right: 60px;
}

.aligned-text_right {
  text-align: right;
  margin-top: 5px;
}

.cover__description {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin-right: 50px;
  margin-bottom: 50px;
  z-index: 1;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding: 12px 32px;
  border: 1px solid #fff;
  background-color: transparent;
  margin-left: 78px;
}

.lots {
  width: 1340px;
  height: 579px;
  margin: 180px 50px 180px;
}

.lots__heading {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-left: 40px;
  margin-bottom: 27px;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.lots__card-list-item {
  width: 430px;
  height: 450px;
  position: relative;
  list-style: none;
}

.card-link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.card__title {
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  z-index: 1;
}

.card__text {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  z-index: 1;
}

.card {
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
  height: 100%;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
  padding-left: 40px;
  margin-top: 29px;
}

.about {
  width: 1340px;
  height: 487px;
  margin-left: 50px;
}

.about__column {
  display: grid;
  grid-template-columns: 430px auto;
  grid-template-rows: 240px auto;
  row-gap: 6px;
  column-gap: 25px;
  grid-template-areas:
    "about__logo about__title"
    ". about__text";
}

.about__logo {
  background: #000 no-repeat center center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  display: block;
  margin: -4px 97px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  box-sizing: border-box;
  display: block;
  margin: 63px auto;
}

.about__title {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.about__text {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: column;
  gap: 28px;
  line-height: 22.6px;
  letter-spacing: -0.04px;
}

.footer {
  margin: 0 50px 95px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__menu {
  list-style: none;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 8px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  padding-right: 4px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  list-style: none;
}

.footer__social-icon {
  height: 48px;
}
